@import "var.scss";

.hotel-header{
    .article-content{
        width: 100%;
        padding: 0;
        .row{
            align-items: end;
        }
        .price {
            .price-new{
                font-size: 20px;
            }
        }
    }
    .title-star{
        display: flex;
        align-items: center;
    }
    .title{
        font-size: 28px;
        font-weight: bold;
        margin-bottom: 10px;
    }
    .star{
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        margin-left: 10px;
        svg{
            fill: #F6A500;
            margin-left: 4px;
        }
    }
    .btn-default{
        height: 48px;
    }
}
.hotel-detail-page{
    .lightgallery-top{
        .item{
            &:first-child{
                grid-column: span 2;
                grid-row: span 2;
            }
        }
    }
    .check-map{
        position: relative;
        border-radius: 10px;
        border: 2px solid #fff;
        .note{
            display: flex;
            justify-content: space-between;
            background: linear-gradient(354deg, #F1F5F9 18.59%, rgba(241, 245, 249, 0.00) 88.23%);
            position: absolute;
            width: 100%;
            bottom: 0;
            padding: 10px;
            .address{
                svg{
                    color: rgba(105, 128, 150, 1);
                }
            }
        }
    }
    .address-service{
        .list-service{
            background: #F1F5F9;
            border-radius: 10px;
            padding: 16px;
            .grid {
                column-gap: 10px;
                row-gap: 10px;
            }
        }
    }
}
.hotel-detail{
    .lbl-title{
        border-radius: 10px 10px 0px 0px;
        background: var(--Linear, linear-gradient(90deg, #070BA0 26.71%, #6B6FFE 102.09%));
        padding: 12px 24px;
        color: #fff;
        font-weight: 700;
        display: flex;
        align-items: center;
        svg{margin-right: 8px;}
    }
    .head-hotel{
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-weight: 500;
        .flex {
            gap: 24px;
        }
        .note{
            border-radius: 57px;
            background: #FFE9E9;
            color: #F63B2F;
            padding: 4px 10px;
        }
        .hot{
            color: #FF5B00;
            text-transform: uppercase;
        }
    }
    .bed-type{
        .or{
            margin: 15px 0;
            position: relative;
            &::before{
                content: "";
                position: absolute;
                border-top: 1px dashed #8C9FB1;
                width: 100%;
                left: 0;
                top: 11px;
            }
            span{
                position: relative;
                padding: 0 5px;
                background: #fff;
            }
        }
    }
    .insert-code{
        display: inline-block;
        padding: 8px;
        border-radius: 10px;
        border: 1px dashed #E3EBF3;
        .code{
            color: #FF5B00;
            font-weight: bold;
        }
        .sale{
            background: #FF5B00;
            border-radius: 4px;
            line-height: 24px;
            color: #fff;
            display: inline-block;
            padding: 0 5px;
        }
        .price-new{
            font-weight: bold;
            font-size: 17px;
            color: #00A86B;
        }
    }
    .hotel-content{
        display: flex;
        .info-room{
            width: 214px;
            flex-shrink: 0;
            padding-right: 24px;
            .img-hotel{
                margin-bottom: 12px;
                .list{
                    margin-top: 2px;
                    column-gap: 2px;
                    row-gap: 2px;
                    .item{
                        position: relative;
                        .number-img{
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background: rgba(0, 0, 0, 0.3);
                            color: #fff;
                            font-size: 12px;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
        .detail-room{
            width: 100%;
        }
        .table-room{
            border-radius: 10px 10px 0 0;
            overflow: hidden;
            .article-content{
                width: 100%;
                padding-left: 0;
            }
            table {
                border: 1px solid #E3EBF3;
                margin-bottom: 0;
                th,td{
                    text-align: center;
                    padding: 10px;
                    border: 1px solid #E3EBF3;
                    &:first-child{
                        text-align: left;
                    }
                    &:last-child{
                        text-align: right;
                    }
                }
                th{
                    background: #F1F5F9;
                }
                td{
                    font-size: 14px;
                    padding: 16px 10px;
                }
            }
        }
    }
}

.pin_tab_detail{
    position: fixed;
    width: 100%;
    left: 0;
    z-index: 99;
    top: 0;
    background: #FFF;
    transition-duration: 200ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(.7, 1, .7, 1);
    transform: translateY(-100%);
    .container{
        display: flex;
        align-items: center;
        gap: 40px;
    }
    a{
        border-bottom: 3px solid transparent;
        color: #000;
        line-height: 45px;
        &.active{
            font-weight: bold;
            border-bottom: 3px solid #2541fc;
        }
    }
    &.sticky{
        box-shadow: 0px 4px 34px 0px rgba(0, 0, 0, 0.15);
        transform: translateY(0%);
    }
}