.thumb_img {
    display: block;
    overflow: hidden;
    height: 1px;
    position: relative;
    width: 100%;
    border-radius: 4px;
    img {
        transition: all 0.3s ease-in-out;
    }
    &:hover {
        img {
            transform: scale(1.06);
        }
    }
}

.thumb_3x1 {
    padding-bottom: 33.33%;
}

.thumb_2x1 {
    padding-bottom: 50%;
}

.thumb_img.thumb_video,
.embed-container {
    padding-bottom: 56.25%;
}

.thumb_img.thumb_5x3 {
    padding-bottom: 60%;
}

.thumb_5x4 {
    padding-bottom: 92%;
}

.thumb_img.thumb_5x5,
.thumb_1x1 {
    padding-bottom: 100%;
}

.thumb_img,
.thumb_video,
.thumb_16x9 {
    img,
    video,
    iframe {
        -o-object-position: top;
        object-position: top;
        -o-object-fit: cover;
        object-fit: cover;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
    }
}

input {
    outline: 0
}

button {
    cursor: pointer;
    outline: 0;
}

// input[type="text"],
// input[type="password"],
// input[type="email"],
// input[type="tel"],
// textarea,
// select {
//     background: #fff;
//     width: 100%;
//     height: 40px;
//     border: 1px solid #e5e5e5;
//     font-size: 15px;
//     padding: 0 12px;
//     outline: none;
//     font-family: arial;
//     transition-duration: 200ms;
//     transition-property: all;
//     transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
//     appearance: none;
// }
.button {
    &.pink {
        background: #ff0063;
        color: #fff;
    }
}

#to_top {
    width: 30px;
    height: 30px;
    background: #00264D;
    line-height: 30px;
    text-align: center;
    position: fixed;
    bottom: 40px;
    left: 20px;
    color: #fff;
    z-index: 9;
    display: none
}

.col-2dot4,
// extra small
.col-sm-2dot4,
// small
.col-md-2dot4,
// medium
.col-lg-2dot4,
// large
.col-xl-2dot4 {
    // extra large
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col-2dot4 {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 20%;
    flex: 0 0 20%;
    max-width: 20%;
}

[class*='grid__'] {
    column-gap: 16px;
    row-gap: 16px;
    position: relative;
    .art_item {
        margin-bottom: 0;
    }
}
.column-12{
    column-gap: 12px;
    row-gap: 12px;
}
.column-8{
    column-gap: 8px;
    row-gap: 8px;
}
.grid {
    display: grid;
    width: 100%;
    position: relative;
    .article-itemt {
        margin-bottom: 0;
    }
    &__1 {
        grid-template-columns: repeat(1, 1fr);
    }
    &__2 {
        grid-template-columns: repeat(2, 1fr);
    }
    &__3 {
        grid-template-columns: repeat(3, 1fr);
    }
    &__4 {
        grid-template-columns: repeat(4, 1fr);
    }
    &__5 {
        grid-template-columns: repeat(5, 1fr);
    }
    &__6 {
        grid-template-columns: repeat(6, 1fr);
    }
    &__7,
    &__8,
    &__9,
    &__10 {
        column-gap: 4px!important;
        row-gap: 4px!important;
    }
    &__7 {
        grid-template-columns: repeat(7, 1fr);
    }
    &__8 {
        grid-template-columns: repeat(8, 1fr);
    }
    &__9 {
        grid-template-columns: repeat(9, 1fr);
    }
    &__10 {
        grid-template-columns: repeat(10, 1fr);
    }
}

@media (min-width: 576px) {
    .col-sm-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 768px) {
    .col-md-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 992px) {
    .col-lg-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

@media (min-width: 1200px) {
    .col-xl-2dot4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 20%;
        flex: 0 0 20%;
        max-width: 20%;
    }
}

.tooltip {
    opacity: 1 !important;
}

.bg-agray {
    background: #F2F2F5;
}

.bg-padding {
    background: #F2F2F5;
    padding: 80px 0;
}

.padding_16 {
    padding: 16px;
}

.padding_24 {
    padding: 24px;
}

.padding_30 {
    padding: 30px;
    @media (max-width: 767px) {
        padding: 15px;
    }
}

.padding_40 {
    padding: 40px 0;
}

.padding_48 {
    padding: 48px;
    @media (max-width: 1199px) {
        padding: 24px;
    }
    @media (max-width: 767px) {
        padding: 15px;
    }
}

.padding_insert {
    padding-left: 3.33%;
    padding-right: 3.33%;
}

.padding_80 {
    padding: 80px 0;
}

.social-btn {
    display: flex;
    a {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background: #00234B;
        color: #fff !important;
        font-size: 15px;
        text-align: center;
        line-height: 34px;
        margin-left: 4px;
    }
}

.radius_4 {
    border-radius: 4px;
}

.radius_6 {
    border-radius: 6px;
}

.radius_10 {
    border-radius: 10px;
}

.btn-default {
    display: inline-block;
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 31px;
    border-radius: 10px;
    padding: 0 24px;
    text-align: center;
    background: #FF5B00;
    transition: 0.2s all;
    border: 1px solid #FF5B00;
    cursor: pointer;
    &.full {
        width: 100%;
        padding: 0 5px;
    }
    &.size {
        line-height: 42px;
        font-size: 16px;
        &.gray {
            color: #00264D!important;
            &:hover {
                color: #fff !important;
            }
        }
    }
    &.big {
        line-height: 46px!important
    }
    &.min {
        font-size: 12px;
        line-height: 24px;
        padding: 0 10px;
        border-radius: 6px;
        svg {
            width: 12px;
            height: 12px;
            vertical-align: text-top;
        }
    }
    &.bg-white {
        color: #00234B;
    }
    &.radius_50 {
        border-radius: 50px;
    }
    &.none {
        background: none;
        border: 1px solid rgba(255, 255, 255, 0.35);
        &:hover {
            background: #fff;
            color: #00234B;
        }
    }
    &.gray {
        background: #E3EBF3;
        color: #00264D!important;
        font-weight: 600;
        border: 1px solid #E3EBF3;
    }
    &.gray2 {
        background: rgba(18, 84, 255, 0.06);
        color: #1254FF!important;
        font-weight: 700;
        border: 0!important;
    }
    &.white {
        background: #fff;
        border: 1px solid #Fff;
        color: #698096;
        &:hover {
            color: #fff;
            background: #FF5B00;
            border: 1px solid #FF5B00;
        }
    }
    &.blue-white {
        background: #fff;
        border: 1px solid #BAE7FF;
        color: #1254FF;
    }
    &.blue {
        background: #1254FF;
        border: 1px solid #1254FF;
        color: #fff;
    }
    &.blue2 {
        background: #2F97DF;
        border: 1px solid #2F97DF;
        color: #fff;
    }
    &.blue-gray {
        border: 1px solid var(--blue-01, #1254FF);
        background: rgba(18, 84, 255, 0.10);
        color: #1254FF;
    }
    &.cancel {
        background: #F73B2F;
        border: 1px solid #F73B2F;
    }
    &.orange {
        background: #D09111;
        border: 1px solid #D09111;
    }
    &.orange-white {
        background: #fff;
        border: 1px solid #FF5B00;
        color: #FF5B00;
    }
    &.success {
        background: #00A86B;
        border: 1px solid #00A86B;
    }
    &.txt_black {
        color: #1C1C28
    }
    &:hover {
        color: #fff!important;
        background: #FF5B00;
        border: 1px solid #FF5B00;
    }
}

.btn-login {
   margin-bottom: 24px;
   display: flex;
   align-items: center;
   .icon{
        min-width: 36px;
        height: 36px;
        background: #1254FF;
        border-radius: 50%;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 8px;
   }
   .title{
        font-size: 16px;color: #1254FF;font-weight: bold;
   }
}

.remove-tag {
    color: #F73B2F;
    font-weight: 500;
    font-size: 14px;
    a {
        color: #F73B2F;
        margin-left: 2px;
    }
}

.form-search-default {
    position: relative;
    max-width: 588px;
    input {
        background: #fff;
        border: 0;
        height: 48px;
        padding-right: 15px;
        padding-left: 48px;
        font-size: 14px;
        width: 100%;
        outline: 0;
        border-radius: 6px;
    }
    .icon_seach_web {
        position: absolute;
        background: none;
        width: 48px;
        height: 48px;
        line-height: 48px;
        border: 0;
        left: 0;
        top: 0;
        color: #8F90A6;
        cursor: pointer;
    }
}

.gray {
    color: #698096!important;
}

.black {
    color: black !important
}

.color_000 {
    color: #000
}

.color-white {
    color: #fff;
}

.color-orange {
    color: var(--orange);
}

.color-gray {
    color: #555770
}

.color-body {
    color: #00264D;
}

.color-main {
    color: var(--colormain);
}

.color-blue {
    color: #0063F7!important;
}

.color-green {
    color: var(--green);
}

.color-yellow {
    color: #D09111;
}

.color-red {
    color: #F73B2F;
}

.title-cate {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 5px;
    svg {
        width: 20px;
        height: 20px;
    }
    &.white {
        color: #fff;
    }
}

.title-cate2 {
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 4px;
}

p {
    margin-bottom: 8px;
}

.head-category {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 16px;
    align-items: flex-end;
    &__left {
        width: 100%;
        display: flex;
    }
    &__right{
        width: 100%;
    }
    .title-cate {
        font-size: 24px;
        margin-bottom: 5px;
        line-height: 1.2;
        min-width: 160px;
        img {
            margin: -4px 5px 0 0;
            float: left;
        }
        .text{
            overflow: hidden;
            display: block;
            padding-left: 5px;
        }
        .dropdown {
            margin-left: 8px;
            display: inline-block;
            .dropbtn {
                padding-right: 20px;
                &::before {
                    border-bottom: 2px solid #1254FF;
                    border-right: 2px solid #1254FF;
                    width: 10px;
                    height: 10px;
                    bottom: 16px;
                }
            }
            .dropdown-content {
                top: 50px;
                ul {
                    li {
                        font-size: 16px;
                        &:hover {
                            color: #1254FF
                        }
                    }
                }
            }
        }
    }
    .gray.align-center{
        display: flex;
        margin-bottom: 12px;
        .text{
            min-width:70px;
            font-size: 12px;
        }
    }
    .time-flex {
        display: flex;
        span {
            margin-left: 12px;
            position: relative;
            background: #FF5B00;
            border-radius: 4px;
            width: 28px;
            height: 28px;
            line-height: 28px;
            text-align: center;
            color: #fff;
            font-weight: bold;
            font-size: 14px;
            display: block;
            &::before {
                content: ":";
                position: absolute;
                left: -7.5px;
                color: #698096;
            }
            &:first-child {
                &::before {
                    display: none
                }
            }
        }
    }
    .time-going {
        display: flex;
        white-space: nowrap;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        margin-right: -20px;
        width: calc(100% + 20px);
        &::-webkit-scrollbar {
            display: none;
        }
        .item {
            display: inline-block;
            width: 120px;
            padding: 10px;
            text-align: center;
            color: #698096;
            border: 1px solid #E3EBF3;
            border-radius: 10px;
            background: #fff;
            margin-right: 4px;
            cursor: pointer;
            .date {
                color: #00264D;
            }
            &.active {
                background: #FF5B00;
                border: 1px solid #FF5B00;
                color: #fff;
                .date {
                    color: #fff
                }
            }
        }
    }
    
}


.line-bottom {
    border-bottom: 1px solid rgba(107, 119, 154, 0.15);
}

.tab-default {
    display: flex;
    white-space: nowrap;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    margin-bottom: 16px;
    a {
        background: #FFFFFF;
        border-radius: 100px;
        color: #698096;
        font-weight: 400;
        font-size: 14px;
        line-height: 33px;
        padding: 0 15px;
        transition: 0.2s all;
        display: inline-block;
        &.active,
        &:hover {
            background: #FF5B00;
            color: #fff;
        }
    }
    &.line-bottom {
        padding-bottom: 20px;
    }
    &.tab-border {
        a {
            background: #F8FBFF;
            border-radius: 93px;
            line-height: 44px;
            font-size: 16px;
            color: #525F7F;
            padding: 0 20px;
            margin-right: 24px;
            &.active {
                background: #00234B;
                color: #fff;
            }
        }
    }
    &.tab-blue {
        a {
            &.active,
            &:hover {
                background: #1254FF;
            }
        }
    }
    &.mr {
        a {
            margin-right: 12px
        }
    }
}

.h-tag{
    display: flex;
    white-space: nowrap;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    margin-right: -20px;
    width: calc(100% + 20px);
    &::-webkit-scrollbar{
        display: none;
    }
    a{
        border-radius: 4px;
        background: #FFF;
        padding: 8px 16px;
        color: #8C9FB1;
        margin-right: 8px;
        &.active{
            background: #00264D;
            color: #fff;
        }
    }      
}

.ic-play {
    border-radius: 6px;
    background: rgba(255, 255, 255, .3);
    width: 56px;
    height: 56px;
    line-height: 56px;
    position: absolute;
    text-align: center;
    color: #fff;
    font-size: 20px;
    left: 50%;
    top: 50%;
    margin: -28px 0 0px -28px;
}

.article-itemt {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 8px;
    background: #F1F5F9;
    border-radius: 8px;
    overflow: hidden;
    .article-thumb {
        width: 128px;
        position: relative;
        .ic-play {
            width: 36px;
            height: 36px;
            line-height: 36px;
            font-size: 14px;
            margin: -18px 0 0px -18px;
        }
        .tag {
            position: absolute;
            left: 4px;
            top: 4px;
            color: #fff;
            .sale {
                font-weight: 700;
                font-size: 13px;
                background: #F73B2F;
                border-radius: 10px;
                padding: 0 5px;
                line-height: 32px;
                display: inline-block
            }
            .free {
                background: #FF5B00;
                border-radius: 6px;
                line-height: 24px;
                padding: 0 4px;
                margin-left: 4px;
                font-size: 12px;
                display: inline-block
            }
        }
    }
    .article-content {
        width: calc(100% - 128px);
        padding-left: 12px;
        padding-top: 8px;
        .date {
            color: #565656;
            font-size: 12px;
            margin-bottom: 10px;
        }
        .tag {
            color: #698096;
            font-size: 14px;
            margin-bottom: 4px;
            display: flex;
            align-items: center;
            svg {
                margin-right: 4px;
            }
        }
        .title_new {
            font-size: 14px;
            font-weight: 600;
            line-height: 1.4;
            margin-bottom: 4px;
        }
        .on-star {
            display: flex;
            align-items: center;
            margin-bottom: 8px;
            .star {
                svg {
                    fill: #F6A500
                }
            }
            .lbl {
                background: #F1F5F9;
                border: 1px solid #B7CCD9;
                border-radius: 6px;
                color: #698096;
                font-size: 12px;
                line-height: 24px;
                padding: 0 4px;
                margin-left: 6px;
            }
        }
        .number-vote {
            color: #698096;
            margin-bottom: 4px;
            .point {
                font-weight: bold;
                background: #FFEFD7;
                border-radius: 4px;
                line-height: 22px;
                margin-right: 6px;
                color: #F6A500;
                font-size: 12px;
                padding: 0 4px;
                display: inline-block;
            }
        }
        .des {
            font-size: 12px;
            color: #698096;
            line-height: 1.6;
            margin-bottom: 0;
            p {
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
        .bottom-content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            .price {
                p {
                    margin-bottom: 0;
                }
                .price-old {
                    text-decoration: line-through;
                    color: #698096;
                }
                .price-new {
                    color: #FF5B00;
                    font-size: 16px;
                    font-weight: bold
                }
            }
            .vote {
                background: #F1F5F9;
                border-radius: 10px;
                width: 36px;
                height: 36px;
                color: #698096;
                text-align: center;
                line-height: 36px;
                &:hover {
                    background: var(--colormain);
                    color: #fff
                }
            }
        }
        .flex-percent {
            margin-top: 6px;
            display: flex;
            align-items: center;
            color: #FF5B00;
            font-size: 12px;
            .bar-percent {
                width: 100px;
                background: #FEE0B5;
                border-radius: 58px;
                position: relative;
                height: 8px;
                .percent {
                    position: absolute;
                    background: #FF6536;
                    border-radius: 58px;
                    height: 100%;
                }
            }
            .sold {
                padding-left: 8px;
            }
        }
    }
    &.full {
        .article-thumb {
            width: 100%;
            .ic-play {
                width: 56px;
                height: 56px;
                line-height: 56px;
                font-size: 20px;
                margin: -28px 0 0px -28px;
            }
        }
        .article-content {
            width: 100%;
            padding: 8px;
        }
    }
    &.big {
        .article-content {
            .title_new {
                font-size: 28px;
                @media (max-width: 991px) {
                    font-size: 22px;
                }
            }
        }
    }
}

.collapse-line {
    padding: 20px 24px;
    background: #FFFFFF;
    border-radius: 6px;
    margin-bottom: 16px;
    &>a {
        position: relative;
        padding-right: 30px;
        display: block;
        font-size: 16px;
        font-weight: bold;
        &::before {
            content: "";
            opacity: 0.5;
            border: solid #000;
            border-width: 0px 1px 1px 0px;
            width: 8px;
            height: 8px;
            position: absolute;
            right: 0;
            top: 6px;
            transform: rotate(45deg);
            transition: 0.2s all;
        }
    }
    .card-body {
        padding: 1.25rem 0 0 0;
    }
    [aria-expanded="true"] {
        &::before {
            transform: rotate(-135deg);
            top: 9px;
            opacity: 1
        }
    }
}

.breadcrumb {
    margin-bottom: 12px;
    padding: 0;
    background: none;
    .breadcrumb-item {
        &+.breadcrumb-item {
            padding-left: 30px;
            position: relative;
            &::before {
                content: "";
                border-top: 1px solid #6c757d;
                border-right: 1px solid #6c757d;
                width: 8px;
                height: 8px;
                position: absolute;
                transform: rotate(45deg);
                padding: 0;
                left: 10px;
                top: 7px;
            }
        }
        a {
            color: #698096;
        }
        &.active {
            color: #698096;
        }
    }
    @media (max-width: 991px) {
        li {
            &:nth-child(3),
            &:nth-child(4) {
                display: none;
            }
        }
    }
}

.ct_quantity {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    .input-group {
        width: 115px;
        .input-group-btn {
            width: 40px;
            border: 1px solid #D4D4D4;
            border-radius: 4px 0px 0px 4px;
            color: #6B6B6B;
            text-align: center;
            background: #fff;
            button {
                padding: 0 5px;
                outline: 0;
                background: none;
                height: 38px;
                &:focus {
                    box-shadow: none
                }
            }
            svg {
                width: 10px;
                height: 10px;
            }
            &.up {
                border-radius: 0px 4px 4px 0px;
            }
        }
        input {
            background: #E4E4EB;
            width: 35px;
            font-weight: bold;
            color: #1C1C28;
            border-left: 0;
            border-right: 0;
            padding: 0;
            text-align: center;
            &:focus {
                box-shadow: none
            }
        }
    }
    .text {
        color: rgba(0, 0, 0, 0.45);
        margin-left: 5px;
    }
}

.confir_res {
    padding-left: 26px;
    position: relative;
    cursor: pointer;
    display: block;
    color: #00264D;
    margin-bottom: 16px;
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }
    .slogan {
        display: flex;
        align-items: center;
        img {
            width: 27px;
            margin-right: 10px;
        }
    }
    .checkmark {
        position: absolute;
        top: 0px;
        left: 0;
        height: 20px;
        width: 20px;
        background: #FFFFFF;
        border: 1px solid #B7CCD9;
        box-sizing: border-box;
        border-radius: 4px;
        &:after {
            content: "";
            position: absolute;
            display: none;
            left: 7px;
            top: 2px;
            width: 5px;
            height: 12px;
            border: solid #fff;
            border-width: 0 1px 1px 0;
            transform: rotate(45deg);
        }
    }
    input:checked~.checkmark:after {
        display: block;
    }
    input:checked~.checkmark {
        background: #070BA0;
        border: 1px solid #070BA0;
    }
    input:disabled~.checkmark {
        border: 1px solid #EBEBEB;
    }
    input:disabled~.checkmark:after {
        border: solid #EBEBEB;
        border-width: 0 1px 1px 0;
    }
    &.circle {
        .checkmark {
            border-radius: 50%;
            background: #FFFFFF;
            border: 2px solid #B7CCD9;
            &:after {
                display: none!important
            }
        }
        input:checked~.checkmark {
            border: 5px solid #1254FF;
            background: #fff
        }
    }
}

.sort-list {
    @media (max-width: 991px) {
        .confir_res.ml-4 {
            margin-left: 0!important;
            margin-right: 10px;
        }
    }
}

.check-list-label {
    display: flex;
    flex-wrap: wrap;
    .confir_res {
        border: 1px solid #E4E4EB;
        background: #FAFAFC;
        border-radius: 6px;
        padding: 8px 18px 8px 8px;
        height: 114px;
        width: 128px;
        margin-right: 16px;
        &:last-child {
            margin-right: 0;
        }
        .lbl {
            position: absolute;
            font-size: 12px;
            top: 8px;
            left: 8px;
        }
        .bottom {
            position: absolute;
            bottom: 8px;
            left: 8px;
            right: 8px;
        }
        select.form-control {
            border: 1px solid #E4E4EB;
            background: #F2F2F5;
            border-radius: 4px;
            color: #00234B;
            font-size: 14px;
            padding-left: 5px;
            font-weight: bold;
            height: 36px;
        }
        .price {
            font-size: 18px;
            font-weight: bold;
        }
        .checkmark {
            right: 8px;
            top: 8px;
            left: inherit;
            width: 16px;
            height: 16px;
            border-radius: 2px;
            &::after {
                border: solid #00234B;
                border-width: 0 2px 2px 0;
                width: 5px;
                height: 9px;
                left: 5px;
                top: 2px;
            }
        }
        &.active {
            background: #00234B;
            border: 1px solid #00234B;
            color: #fff;
            .lbl {
                color: #E4E4EB;
            }
        }
    }
    .phu-luc {
        background: #F2F2F5;
        border-radius: 6px;
        padding: 12px 8px;
        width: 400px;
        max-width: 100%;
    }
    &.pl-3 {
        padding-left: 30px !important;
    }
    &__v2 {
        .confir_res {
            width: 174px;
            height: 94px;
            margin: 0 8px 8px 0;
        }
    }
    &__v3 {
        .confir_res {
            width: 128px;
            height: 66px;
            margin: 0 8px 8px 0;
        }
    }
    &.grid__2 {
        column-gap: 16px;
        row-gap: 16px;
        .confir_res {
            width: 40%;
            height: 94px;
            margin: 0;
        }
    }
    @media (max-width: 576px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
        row-gap: 10px;
        .confir_res {
            width: 100%;
            margin: 0;
        }
        .phu-luc {
            width: 100%;
        }
    }
}

.radio-checklist {
    .confir_res {
        border: 1px solid #E4E4EB;
        background: #FFFFFF;
        border-radius: 8px;
        padding: 16px 16px 16px 40px;
        margin-bottom: 4px;
        .checkmark {
            border-radius: 50%;
            top: 18px;
            left: 13px;
            &::after {
                border: 0;
                background: var(--colormain);
                width: 12px;
                height: 12px;
                border-radius: 50%;
                left: 2px;
                top: 2px;
            }
        }
        &.active {
            border: 1px solid #00234B;
        }
    }
}

.note-hover {
    position: relative;
    .note-info {
        background: #FFFFFF;
        box-shadow: 10px 14px 54px rgba(0, 0, 0, 0.25);
        border-radius: 6px;
        padding: 16px;
        color: #191919;
        position: absolute;
        width: 300px;
        max-width: 300px;
        display: none;
        z-index: 4;
        .title {
            font-weight: bold;
            margin-bottom: 10px;
            font-size: 16px;
        }
        .border-dashed {
            border-bottom: 1px dashed #ccc;
        }
    }
    &:hover {
        .note-info {
            display: block;
        }
    }
}

.pagination {
    .page-item {
        margin: 0 8px 0 0;
    }
    .page-link {
        border-radius: 10px !important;
        border: none;
        font-size: 14px;
        font-weight: 700;
        color: #00264D;
        width: 36px;
        height: 36px;
        text-align: center;
        padding: 0;
        line-height: 36px;
        outline: 0;
        svg {
            width: 12px;
            height: 12px;
        }
        &:hover {
            background: #698096;
            color: #fff;
        }
        &:focus {
            box-shadow: none
        }
    }
    .page-item.active .page-link {
        background: #698096;
        color: #fff;
    }
}

.btn-send {
    background: #00234B;
    border-radius: 4px;
    color: #fff;
    height: 48px;
    font-weight: 500;
    font-size: 14px;
    padding: 0 30px;
}

.form-default {
    &__v2 {
        .form-group {
            position: relative;
            margin-bottom: 8px;
            .lbl {
                position: absolute;
                font-size: 12px;
                color: #9C5D90;
                top: 6px;
                left: .75rem;
            }
        }
        .form-control {
            color: #4F064B;
            padding-top: 25px;
            @include placeholder {
                color: #4F064B;
            }
        }
    }
}

.form-search {
    position: relative;
    width: 100%;
    .input_search {
        border: 0;
        border-bottom: 1px solid rgba(34, 43, 69, 0.3);
        height: 42px;
        border: 1px solid #E4E4EB;
        border-radius: 4px;
        font-size: 14px;
        padding: 0.375rem 0.75rem;
        font-weight: 500;
        width: 100%;
        color: #00264D;
        outline: 0;
        &:focus,
        &:active {
            outline: 0;
            box-shadow: none;
            border: 1px solid#FF5B00;
        }
        @include placeholder {
            color: #698096;
        }
    }
    .icon_seach_web {
        position: absolute;
        background: none;
        width: 36px;
        height: 36px;
        border-radius: 50%;
        border: 0;
        right: 0;
        top: 12px;
        color: #000;
        cursor: pointer;
        svg {
            width: 24px;
            height: 24px;
        }
    }
    .btn_reset {
        position: absolute;
        top: 14px;
        right: 4px;
        background: none;
        border: 0;
        width: 30px;
        height: 30px;
        text-align: center;
        font-size: 30px;
        font-family: -webkit-body;
        color: #000;
        line-height: 10px;
        cursor: pointer;
        display: none;
        svg {
            width: 20px;
            height: 20px;
        }
    }
    .suggest-search {
        display: none
    }
    &.active {
        .icon_seach_web {
            display: none;
        }
        .suggest-search,
        .btn_reset {
            display: block;
        }
    }
    &__v2 {
        .input_search {
            color: #525F7F;
            font-size: 14px;
            background: #F4F6F8;
            border-radius: 84px;
            border: 0;
            padding: 0 49px;
            font-weight: 400;
        }
        .icon_seach_web {
            right: inherit;
            left: 10px;
            svg {
                width: 16px;
                height: 16px;
                fill: #00234B;
            }
        }
        &.active {
            .icon_seach_web {
                display: block;
            }
        }
    }
    @media (max-width: 991px) {
        &__v2 {
            .input_search {
                font-size: 16px;
            }
        }
    }
}

.table-responsive {
    .blue {
        color: #2D5BD1;
    }
    .table {
        thead th {
            border-top: 0;
            border-bottom: 1px solid #00234B;
            color: #525F7F;
            font-weight: 400;
            text-transform: uppercase;
            font-size: 14px;
        }
        th,
        td {
            padding: 15px .75rem;
            font-size: 16px;
            &:last-child {
                text-align: right;
            }
            &:first-child {
                padding-left: 0;
                text-align: left;
            }
        }
        .content {
            width: 400px;
        }
    }
    @media (max-width: 767px) {
        .table {
            th,
            td {
                white-space: nowrap;
            }
        }
    }
}

//custom select
.custom-select {
    position: relative;
    font-family: Arial;
    &.form-group {
        background: #e6eaf0;
        border-radius: 0;
        border: 0;
        height: 35px;
    }
    select {
        display: none;
    }
    .select-selected {
        &::after {
            content: "";
            border: solid #222;
            border-width: 1px 0px 0px 1px;
            width: 8px;
            height: 8px;
            position: absolute;
            right: 13px;
            top: 12px;
            transform: rotate(-135deg);
        }
        &.select-arrow-active:after {
            transform: rotate(45deg);
            top: 14px;
        }
    }
    .select-items div,
    .select-selected {
        cursor: pointer;
        user-select: none;
    }
    .select-items {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        z-index: 99;
        background: #fff;
        box-shadow: 0 10px 30px rgba(118, 118, 118, .3);
        div {
            padding: 10px;
            &:hover {
                color: #447fb7;
            }
        }
    }
    .select-hide {
        display: none;
    }
}

.line-left {
    border-left: 1px solid #E3EBF3;
}

.line-left-pc {
    border-left: 1px solid #E3EBF3;
    @media (max-width: 767px) {
        border-left: 0;
    }
}

.sl_giohang {
    display: flex;
    align-items: center;
    .input-group-prepend {
        margin-right: 0;
        button {
            border: 0;
            background: #F1F5F9;
            border-radius: 10px;
            width: 32px;
            height: 32px;
            line-height: 1;
            color: #00264D;
            font-size: 18px;
            cursor: pointer;
            outline: 0;
        }
    }
    input {
        border: 0;
        font-weight: 700;
        font-size: 14px;
        text-align: center;
        width: 42px;
        margin: 0 2px;
    }
}

.tr-add {
    margin-bottom: 5px;
    justify-content: space-between;
    .plus {
        background: #F1F5F9;
        border-radius: 4px;
        width: 21px;
        height: 21px;
        color: #8C9FB1;
        align-items: center;
        display: flex;
        justify-content: center;
        svg {
            width: 12px;
            height: 12px;
        }
        &:hover {
            color: #fff;
            background: #FF5B00;
        }
    }
}

.form-group {
    margin-bottom: 24px;
}

textarea.form-control {
    font-size: 14px;
    resize: none;
}

.form-control {
    border-radius: 4px;
    border: 1px solid #E4E4EB;
    font-size: 14px;
    color: #00264D;
    transition-duration: 200ms;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.7, 1, 0.7, 1);
    &:focus,
    &:active {
        outline: 0;
        box-shadow: none;
        border: 1px solid#FF5B00;
    }
}

input.form-control {
    height: 44px;
}

.input-button {
    position: relative;
    .form-control {
        padding-right: 70px;
    }
    .form-control {
        background: #F1F5F9;
        border: 1px solid #E3EBF3;
    }
    button {
        position: absolute;
        right: 15px;
        top: 0;
        height: 42px;
        border: 0;
        background: none;
        outline: 0;
        color: #1254FF;
        font-weight: 500;
        cursor: pointer;
    }
}


/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


/* Firefox */

input[type=number] {
    -moz-appearance: textfield;
}

select.form-control {
    height: 42px !important;
    color: #8C9FB1;
    padding-left: 8px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='12' height='7' viewBox='0 0 12 7' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M5.93555 6.80371C6.10644 6.80371 6.26367 6.73535 6.38672 6.60547L11.6914 1.19141C11.8076 1.06836 11.8691 0.917969 11.8691 0.740234C11.8691 0.391601 11.6025 0.118164 11.2471 0.118164C11.0762 0.118164 10.9189 0.186523 10.8027 0.295898L5.93555 5.27246L1.06836 0.295898C0.952148 0.186523 0.801758 0.118163 0.624023 0.118163C0.268555 0.118163 0.001953 0.391601 0.00195298 0.740234C0.00195298 0.917968 0.0634764 1.06836 0.186523 1.19141L5.48437 6.60547C5.61426 6.73535 5.76465 6.80371 5.93555 6.80371Z' fill='%2300264D'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-position: right 10px top 16px;
}

.form-control:disabled,
.form-control[readonly] {
    background: #F1F5F9;
    border: 1px solid #E3EBF3;
    color: #698096
}

.form-control.is-invalid {
    border: 1.5px solid #FF5247;
    &+button {
        color: #698096;
    }
}

.password-wrap {
    .form-control {
        padding-right: 40px;
    }
    .toggle-password {
        position: absolute;
        top: 6px;
        right: 5px;
        cursor: pointer;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
}

.input-icon {
    position: relative;
    .icon-svg {
        position: absolute;
        left: 15px;
        top: 15px;
        width: 18px;
        height: 18px;
        color: #698096;
    }
    .form-control {
        background: #F1F5F9;
        border: 1px solid #E3EBF3;
        height: 48px;
        font-size: 16px;
        padding-left: 46px;
        @include placeholder {
            color: #698096;
        }
    }
}

.error {
    color: #FF0E00;
    font-size: 13px;
}

.note-warring {
    background: #FFEFD7;
    border: 1px solid #FFD188;
    border-radius: 10px;
    padding: 8px 12px;
    display: inline-block;
    color: #D09111;
    position: relative;
    &.icon{
        padding: 8px 12px 8px 38px;
        .icon-svg{
            position: absolute;
            left: 12px;
            top: 10px;
        }
    }
    @media (max-width: 576px) {
        position: relative;
    }
}

.border {
    border: 1px solid #E3EBF3!important;
}

.text-collapse {
    font-weight: 700;
    font-size: 12px;
    color: #FF5B00;
    padding-right: 16px;
    position: relative;
    &::after {
        font-family: 'iconfont';
        content: '\ea1c';
        font-weight: 700;
        position: absolute;
        right: 0;
        transform: rotate(90deg);
    }
    &[aria-expanded="true"] {
        &:after {
            transform: rotate(-90deg);
        }
    }
}

.datepicker-input {
    padding: 0 30px 0 .75rem;
    background: url(images/icons/date.png) no-repeat right 11px top 12px;
}

.warning-note {
    border: 1px solid #FFD188;
    border-radius: 4px;
    background: #FFEFD7;
    padding: 8px 12px;
    display: inline-block;
    .title {
        color: #D09111;
        font-size: 14px;
        margin-bottom: 11px;
        padding-left: 25px;
        position: relative;
        svg {
            position: absolute;
            left: 0;
            top: 4px;
        }
    }
    ul {
        margin-bottom: 0;
    }
}

.select-input {
    position: relative;
    .select2-container {
        position: absolute;
        width: 120px!important;
        .select2-selection--single .select2-selection__arrow {
            border-left: 0
        }
        img {
            margin-right: 8px;
        }
    }
    .form-control {
        padding-left: 130px;
        &:focus {
            border: 1px solid #E4E4EB;
        }
    }
}

.birth-custom {
    display: flex;
    input.form-control {
        width: 64px;
        margin-right: 8px;
    }
}

.notifi-success {
    background: #FFFFFF;
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
    border-radius: 41px;
    padding: 8px 16px;
    color: #00A86B;
    font-weight: 700;
    font-size: 12px;
    img {
        width: 16px;
        margin: -2px 6px 0 0;
    }
    &.fixed {
        position: fixed;
        top: 30px;
        min-width: 220px;
        z-index: 99;
        left: 50%;
        transform: translate(-50%, 0%);
    }
}

.head-title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    position: relative;
    .detail {
        background: #F1F5F9;
        border-radius: 10px;
        line-height: 29px;
        padding: 0 16px;
        color: #698096;
        font-weight: 500;
        svg {
            width: 10px;
            height: 10px;
        }
    }
    .text-collapse {
        margin-top: -6px
    }
    .title-cate {
        padding-right: 20px;
    }
    .icon-collapse {
        position: absolute;
        top: 0;
        right: 0;
        svg {
            transform: rotate(90deg);
            width: 12px;
            height: 12px;
            margin-top: -2px;
        }
        &[aria-expanded="true"] {
            svg {
                transform: rotate(-90deg);
            }
        }
    }
    .txt_18{
        padding-right: 40px
    }
    .color-blue.medium{
        position: absolute;
        right: 0;
        top: 4px;
    }
    @media (max-width: 1280px) {
        .detail {
            margin-bottom: 10px;
        }
    }
    @media (max-width: 576px) {
        // .title {
        //     width: 100%;
        // }
    }
}

.tooltip-new {
    position: relative;
    .tooltip-content {
        position: absolute;
        bottom: 50px;
        overflow: hidden;
        opacity: 0;
        z-index: -1;
        right: -20px;
        min-width: 160px;
        background: #FFFFFF;
        border-radius: 10px;
        padding: 8px;
        color: #698096;
        text-align: center;
        box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.1);
        transition: 0.3s all;
        &::before {
            width: 15px;
            height: 15px;
            content: '';
            position: absolute;
            bottom: -8px;
            right: 27px;
            margin-right: -9px;
            background: #fff;
            transform: rotate(225deg);
        }
    }
    &:hover {
        .tooltip-content {
            bottom: 30px;
            overflow: visible;
            opacity: 1;
            z-index: 1
        }
    }
}

.tag-hanh-ly {
    column-gap: 8px;
    row-gap: 8px;
    .item {
        background: #F1F5F9;
        border: 1.5px solid #E3EBF3;
        border-radius: 10px;
        height: 100%;
        padding: 16px;
        font-size: 18px;
        position: relative;
        cursor: pointer;
        &.active,
        &:hover {
            background: #FFFFFF;
            border: 1.5px solid #1254FF;
        }
        &.checked {
            background: #FFFFFF;
            border: 1.5px solid #1254FF;
            &::before {
                content: "";
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M7.19629 14.7646C11.0107 14.7646 14.1689 11.5996 14.1689 7.79199C14.1689 3.97754 11.0039 0.819336 7.18945 0.819336C3.38184 0.819336 0.223633 3.97754 0.223633 7.79199C0.223633 11.5996 3.38867 14.7646 7.19629 14.7646ZM6.43066 11.1348C6.19824 11.1348 6.00684 11.0391 5.8291 10.7998L4.11328 8.69434C4.01074 8.55762 3.94922 8.40723 3.94922 8.25C3.94922 7.94238 4.18848 7.68945 4.49609 7.68945C4.69434 7.68945 4.84473 7.75098 5.01562 7.97656L6.40332 9.76758L9.32227 5.07812C9.45215 4.87305 9.62988 4.76367 9.80762 4.76367C10.1084 4.76367 10.3887 4.96875 10.3887 5.29004C10.3887 5.44043 10.2998 5.59766 10.2178 5.74121L7.00488 10.7998C6.86133 11.0254 6.66309 11.1348 6.43066 11.1348Z' fill='%231254FF'/%3e%3c/svg%3e");
                width: 15px;
                height: 15px;
                position: absolute;
                right: 10px;
            }
        }
    }
    @media (max-width: 991px) {
        padding-left: 0!important;
    }
    @media (max-width: 576px) {
        &.grid__5 {
            grid-template-columns: repeat(3, 1fr);
        }
    }
}

.note-text {
    background: #F1F5F9;
    border-radius: 6px;
    font-weight: 500;
    padding: 4px 8px;
    color: #698096;
}

.btn-on-off {
    display: flex;
    align-items: center;
    .switch {
        position: relative;
        display: inline-block;
        width: 50px;
        height: 24px;
        margin: 0;
        input {
            opacity: 0;
            width: 0;
            height: 0;
            &:checked+.slider {
                background-color: #FF5B00;
            }
            &:checked+.slider:before {
                transform: translateX(26px);
            }
            // &:checked+.slider:after {
            //     content: "ON";
            //     right: -25px;
            // }
        }
        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #E3EBF3;
            -webkit-transition: .4s;
            transition: .4s;
            &:before {
                position: absolute;
                content: "";
                height: 20px;
                width: 20px;
                left: 2px;
                bottom: 2px;
                background-color: white;
                box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.2);
                -webkit-transition: .4s;
                transition: .4s;
            }
            // &::after {
            //     content: "OFF";
            //     position: absolute;
            //     right: -30px;
            //     top: 3px;
            //     color: #757575;
            //     font-size: 12px;
            // }
            &.round {
                border-radius: 34px;
                &:before {
                    border-radius: 50%;
                }
            }
        }
    }
}

.scrollbar-inner {
    max-height: 300px;
    overflow-y: scroll;
    padding-right: 10px;
    margin-right: -10px;
    &::-webkit-scrollbar {
        width: 5px;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #ADC4DA;
        width: 5px;
        border-radius: 10px;
    }
}

.dropdown {
    cursor: pointer;
    position: relative;
    .dropbtn {
        color: #1254FF;
        padding-right: 10px;
        position: relative;
        &::before {
            content: "";
            border-bottom: 1px solid #1254FF;
            border-right: 1px solid #1254FF;
            width: 5px;
            height: 5px;
            position: absolute;
            right: 0;
            bottom: 9px;
            transform: rotate(45deg);
        }
    }
    .dropdown-content {
        position: absolute;
        top: 30px;
        z-index: 3;
        background: #fff;
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
        display: none;
        padding: 10px;
        border: none;
        border-radius: 5px;
        left: 0;
        min-width: 150px;
        ul {
            margin-bottom: 0;
            li {
                margin-bottom: 5px;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

.search-wrapper {
    position: relative;
    .btn_reset {
        position: absolute;
        right: 45px;
        top: 12px;
        width: 20px;
        height: 20px;
        border: 0;
        outline: 0;
        border-radius: 50%;
        cursor: pointer;
        background: #C4C4C4;
        font-family: -webkit-body;
    }
    form,
    .form {
        position: relative;
        input {
            border: 1px solid transparent;
            padding: 7px;
            height: 44px;
            font-size: 14px;
            border-radius: 33px;
            margin: 0;
            padding: 0 16px;
            padding-right: 36px;
            width: 100%;
            outline: 0;
            @include placeholder {
                color: #8C9FB1;
            }
        }
        .border {
            border: 1px solid #ECECEE;
        }
        input.active+.suggest-search {
            display: block
        }
        .search-btn {
            position: absolute;
            right: 10px;
            top: 8px;
            text-align: center;
            button {
                border: none;
                color: #fff;
                background: #8C9FB1;
                height: 28px;
                width: 28px;
                border-radius: 64px;
                line-height: 25px;
                cursor: pointer;
                svg {
                    width: 13px;
                    height: 13px;
                }
            }
            &:hover {
                button {
                    background: #1254FF;
                }
            }
        }
    }
    .dropdown-toggle {
        position: absolute;
        top: 5px;
        right: 7px;
        padding: 0;
        color: #666;
        font-size: 0;
        &::after {
            font-size: 16px;
            margin: 0;
        }
        &::before {
            display: none
        }
    }
    .dropdown-content {
        top: 38px
    }
    .suggest-search {
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
        border-radius: 5px;
        position: absolute;
        display: none;
        top: 35px;
        background: #fff;
    }
}

.search-wrapper2 {
    position: relative;
    background: #F1F5F9;
    border: 1px solid #E3EBF3;
    border-radius: 4px;
    padding-right: 35px;
    width: 300px;
    .input_search {
        font-size: 14px;
        height: 44px;
        padding: 0 15px;
        border: 0;
        border-radius: 10px 0 0 10px;
        width: 100%;
        background: none;
        @include placeholder {
            color: #666666;
        }
    }
    .btn_reset {
        position: absolute;
        right: 55px;
        top: 5px;
        width: 24px;
        height: 24px;
        border: 0;
        outline: 0;
        border-radius: 50%;
        cursor: pointer;
    }
    .search-btn {
        position: absolute;
        border: 0;
        outline: 0;
        background: none;
        color: #8C9FB1;
        width: 44px;
        height: 44px;
        right: 0;
    }
}

.collap-down {
    .icon-svg {
        width: 12px;
        height: 12px;
        margin-left: 2px;
        transform: rotate(90deg);
    }
    &[aria-expanded="true"] {
        svg {
            transform: rotate(-90deg);
        }
    }
}

.table-noborder {
    th,
    td {
        border-top: 0;
        padding: 4px;
    }
    thead th {
        border-bottom: 0;
    }
}

.box_category {
    margin-bottom: 25px;
}

.lightpick__day {
    font-size: 15px;
    border-radius: 0!important;
}

.lightpick__month-title-bar {
    justify-content: center;
}

.lightpick__next-action,
.lightpick__previous-action {
    position: absolute;
    top: 6px;
}

.lightpick__previous-action {
    left: 4px;
}

.lightpick__next-action {
    right: 10px
}

.lightpick__day.is-end-date,
.lightpick__day.is-end-date:hover,
.lightpick__day.is-start-date,
.lightpick__day.is-start-date:hover {
    background-color: #FF5B00;
    background-image: none;
}

.lightpick__day.is-start-date.is-in-range,
.lightpick__day.is-end-date.is-in-range {
    background-color: #FF5B00!important;
    background-image: none;
}

.lightpick__day.is-in-range {
    background-color: #FFEFD7;
    position: relative;
}

.lightpick__day.is-start-date,
.lightpick__day.is-end-date,
.lightpick__day.is-today.is-start-date {
    padding-top: 10px;
    position: relative;
}

.lightpick__day.is-start-date::before,
.lightpick__day.is-end-date::before,
.lightpick__day.is-today.is-start-date::before {
    font-size: 8px;
    position: absolute;
    top: 0px;
    width: 100%;
    text-align: center;
}

.lightpick__day.is-start-date::before {
    content: "Ngày đi";
}

.lightpick__day.is-end-date::before {
    content: "Ngày về";
}

.lightpick__day.is-start-date.is-end-date::before,
.lightpick__day.is-today.is-start-date::before {
    content: "Ngày đi"
}

.lightpick__day.is-available:hover {
    background: #ededed
}

.lightpick__day-of-the-week {
    font-size: 13px;
}

.slide-relative {
    position: relative;
    .swiper-button-prev,
    .swiper-button-next {
        height: 70px;
        line-height: 70px;
        margin-top: -35px;
        opacity: 1;
        cursor: pointer;
        filter: drop-shadow(0px 4px 23px rgba(0, 38, 77, 0.1));
        &:hover {
            background: #FF6536;
            svg {
                color: #fff
            }
        }
    }
    .swiper-button-prev {
        left: -10px;
    }
    .swiper-button-next {
        right: -10px
    }
}

.list-check {
    li {
        position: relative;
        padding-right: 25px;
        margin-bottom: 12px;
        padding-bottom: 12px;
        color: #698096;
        font-size: 15px;
        font-weight: 500;
        border-bottom: 1px solid #F1F5F9;
        &:last-child{
            border-bottom: 0;
            margin-bottom: 0;
        }
        &.active {
            color: #00264D;
            &::before {
                content: "";
                background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='15' height='15' viewBox='0 0 15 15' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M6.29688 14.3281C6.71094 14.3281 7.03125 14.1562 7.25781 13.8203L14.6016 2.38281C14.7656 2.125 14.8359 1.90625 14.8359 1.69531C14.8359 1.14062 14.4453 0.757812 13.8828 0.757812C13.5 0.757812 13.2656 0.898438 13.0312 1.26562L6.25781 12.0078L2.78125 7.54688C2.54688 7.24219 2.30469 7.11719 1.96094 7.11719C1.39844 7.11719 0.992188 7.51562 0.992188 8.0625C0.992188 8.30469 1.07812 8.53906 1.28125 8.78125L5.32812 13.8281C5.60156 14.1719 5.89062 14.3281 6.29688 14.3281Z' fill='%2300A86B'/%3e%3c/svg%3e");
                position: absolute;
                right: 3px;
                width: 15px;
                height: 15px;
                top: 50%;
                margin-top: -12px;
            }
        }
    }
}