@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}

.hidden-pc {
    display: none;
}

@media (max-width: 1366px) {
    .mb80 {
        margin-bottom: 60px;
    }
}

@media (max-width: 1200px) {
    .overflow {
        overflow: hidden;
    }
}

@media (max-width: 991px) {
    .overlay {
        display: none
    }
    .box_stream {
        width: 100%;
        padding-right: 0
    }
    .box_300 {
        width: 100%;
        display: none;
    }
    .title-cate {
        &.txt_32 {
            font-size: 22px!important;
        }
        &.mb40 {
            margin-bottom: 15px !important;
        }
    }
    .mb80 {
        margin-bottom: 40px !important;
    }
    .mb60 {
        margin-bottom: 30px !important;
    }
    .mb40 {
        margin-bottom: 30px !important;
    }
    .mt60 {
        margin-top: 30px !important;
    }
    .padding_40 {
        padding: 20px 0;
    }
    .line-bottom.mb40 {
        margin-bottom: 20px !important;
    }
    .container.mt20 {
        margin-top: 0!important;
    }
}

@media (max-width: 767px) {
    .grid-form {
        column-gap: 16px;
        row-gap: 16px;
        .grid__2 {
            grid-template-columns: repeat(1, 1fr);
            column-gap: 16px;
            row-gap: 16px;
        }
    }
}

@media (max-width: 576px) {
    .off-line-mb {
        border-left: 0
    }
    .hidden-mb {
        display: none;
    }
    .hidden-pc {
        display: block;
    }
    .btn-dk {
        .txt_20 {
            width: 100%;
            margin: 0 auto 10px !important;
            text-align: center;
        }
    }
    .detail_tin {
        .title-detail {
            font-size: 20px;
        }
        .price-all {
            .all {
                font-size: 24px;
            }
        }
    }
    .grid-form {
        grid-template-columns: repeat(1, 1fr);
    }
    .col-md-3.text-right {
        text-align: left!important
    }
    .btn-default[style="padding: 0 60px;"] {
        width: 100%;
        margin: 0 0 10px 0!important;
    }
    .popup-success {
        .txt_24.mb0 {
            margin-right: 8px;
        }
        .note-text.ml-2 {
            margin-left: 0!important;
        }
    }
    .item-info-flight {
        position: relative;
        padding-bottom: 100px;
        background: #fff;
        .trip-info.min {
            .col-md-5 {
                order: 1;
                position: static;
                margin-top: 0;
            }
            .col-md-7 {
                order: 2;
                position: static;
            }
            .price-all {
                position: absolute;
                bottom: 15px;
                right: 15px;
            }
        }
    }
}

@media (max-width: 360px) {
    .title-cate {
        font-size: 16px;
    }
}