<!DOCTYPE html>
<html lang="vi" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=yes">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-title" content="" />
    <meta name="description" content="content">
    <meta name="keywords" content="Việt Nam">
    <title>
        <!-- build:title -->
    </title>
    <link type="image/x-icon" href="http://ssl.gstatic.com/docs/doclist/images/infinite_arrow_favicon_5.ico" rel="shortcut icon" />
    <link rel="stylesheet" href="css/fontAwesome/css/font-awesome.min.css" media="all" />
    <link rel="stylesheet" href="css/bootstrap.css" media="all" />
    <link rel="stylesheet" type="text/css" href="css/select2.min.css" />
    <link rel="stylesheet" href="css/style.css" media="all" />
    <!-- build:head2 -->
    <!-- build:head -->
</head>

<body class="homepage">

    <!-- build:content -->

    <!--Footer-->
    <footer class="adv-footer">
        <div class="adv-footer__top">
            <div class="head">
                <a class="logo" href="#"><img src="images/graphics/logo-white.svg" alt=""></a>
                <h3 class="lead">CÔNG TY CỔ PHẦN THƯƠNG MẠI & DỊCH VỤ QUỐC TẾ ĐẠI VIỆT</h3>
            </div>
            <div class="border-bottom mb12">
                <p><b>Trụ sở chính:</b> Tầng 6, tòa nhà Sannam, số 78 phố Duy Tân, P. Dịch Vọng Hậu, Q. Cầu Giấy, TP. Hà Nội </p>
                <p><b>Tổng đài kinh doanh:</b> 0936.191.192</p>
                <p><b>Tổng đài chăm sóc khách hàng:</b> 0326.333.333</p>
                <p><b>Trụ sở chính:</b> 0902.161.162</p>
            </div>
            <div class="border-bottom mb12">
                <div class="mb10 bold color-white">Văn phòng giao dịch</div>
                <p class="tiny-font">
                    <span class="icon">
                        <svg class="icon-svg">
                            <use xlink:href="images/icons/icon.svg#address"></use>
                        </svg>
                    </span>
                    <b>Hà Nội:</b> Số 289A Khuất Duy Tiến, Cầu Giấy, Hà Nội
                </p>
                <p class="tiny-font">
                    <span class="icon">
                        <svg class="icon-svg">
                            <use xlink:href="images/icons/icon.svg#address"></use>
                        </svg>
                    </span>
                    <b>Phú Quốc CS1:</b> ShopHouse số 89 đường An Phúc, Grandworld Phú Quốc
                </p>
                <p class="tiny-font">
                    <span class="icon">
                        <svg class="icon-svg">
                            <use xlink:href="images/icons/icon.svg#address"></use>
                        </svg>
                    </span>
                    <b>Phú Quốc CS2:</b> Số 72 Trần Hưng Đạo, Phường Dương Đông, Thành Phố Phú Quốc
                </p>
                <p class="tiny-font">
                    <span class="icon">
                        <svg class="icon-svg">
                            <use xlink:href="images/icons/icon.svg#address"></use>
                        </svg>
                    </span>
                    <b>Hồ Chí Minh:</b> Số 51 Võ Văn Tần, P.Võ Thị Sáu, Q3
                </p>
            </div>
            <div class="flex-social mb15">
                <div class="bold color-white">Theo dõi chúng tôi</div>
                <div class="social-list">
                    <div class="social-fb social-item">
                        <a href="https://www.facebook.com/DV.Adavigo" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </div>
                    <div class="social-yt social-item">
                        <a href="https://www.youtube.com/channel/UCuzau3T9-toUO21cxQkn2qQ">
                            <i class="fa fa-youtube-play"></i>
                        </a>
                    </div>
                    <div class="social-zl social-item">
                        <a href="https://zalo.me/">
                            <img src="images/icons/zalo.png" alt="">
                        </a>
                    </div>
                </div>
            </div>
            <p>Số chứng nhận đăng ký kinh doanh: 108008526 cấp bởi sở kế hoạch và đầu tưthành phố Hà Nội ngày 03/10/2017</p>


        </div>
        <div class="adv-footer__bottom">
            <p>© 2022 Adavigo, Inc. All rights reserved</p>
            <div class="faith-images">
                <img class="trade" src="images/graphics/thong-bao-bo-cong-thuong.svg" alt="">
                <img class="dmca" src="images/graphics/dmca.svg" alt="">
            </div>
            <p><small>Chấp nhận thanh thanh toán</small></p>
            <p class="ft-payment-method">
                <i class="fa fa-credit-card"></i>
                <i class="fa fa-cc-discover"></i>
                <i class="fa fa-cc-mastercard"></i>
                <i class="fa fa-cc-visa"></i>
                <i class="fa fa-cc-paypal"></i>
            </p>
            <p><small>Xuất hóa đơn VAT theo yêu cầu khách hàng</small></p>
        </div>
    </footer>

    <!--End Footer-->

    <!--Jquery lib-->
    <script type="text/javascript" src="js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="js/swiper.min.js"></script>
    <script type="text/javascript" src="js/select2.min.js"></script>
    <script type="text/javascript" src="js/moment.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/daterangepicker.min.js"></script>
    <script type="text/javascript" src="js/common.js"></script>
    <!-- build:script -->
    <!-- build:script2 -->

</body>

</html>